
<main role="main" class="container">

    <div class="starter-template">
      <h1>Stateful</h1>
      <p class="lead">Ejemplo de componete stateful.</p>

      <div class="card-deck">
          <div class="card" *ngFor="let curso of shopModel.shopItems">
           <app-stateless 
           [product]="curso"
           (cursomatriculado)="cursomatriculado($event)"
           ></app-stateless>
          </div>
         </div>
    </div>
    <div style="margin-top: 50px;">
        <ul class="list-group">
            <li class="list-group-item disabled">Info matrícula</li>
            <li *ngFor="let boughtItem of boughtItems" class="list-group-item">{{boughtItem.title}} <span class="badge badge-primary">{{boughtItem.price | currency: "&euro;"}}</span></li>
            <li class="list-group-item disabled"><h2>Total: {{finalprice() | currency: "&euro;"}}</h2></li>
        </ul>
        <app-confirm></app-confirm>
    </div>
  </main><!-- /.container -->
